# Beanpod
import /microtrust.rc
#

# Mitee
import /miteelog.rc
import /tee-supplicant.rc
#

on init
    export LD_LIBRARY_PATH /system/lib64:/vendor/lib64:/vendor/lib64/hw

on fs
    install_keyring

service keystore_auth /system/bin/keystore_auth
    oneshot
    user system
    group root
    disabled
    seclabel u:r:recovery:s0

service keystore /system/bin/keystore /tmp/misc/keystore
    user root
    group root drmrpc readproc log
    disabled
    seclabel u:r:recovery:s0

service keymaster-4-0-beanpod /system/bin/android.hardware.keymaster@4.0-service.beanpod
    user root
    group root drmrpc
    oneshot    
    disabled
    seclabel u:r:recovery:s0

service keymaster-4-0-mitee /system/bin/android.hardware.keymaster@4.0-service.mitee
    user root
    group root drmrpc
    oneshot    
    disabled
    seclabel u:r:recovery:s0

service gatekeeper-1-0 /system/bin/android.hardware.gatekeeper@1.0-service
    user root
    group root
    oneshot
    disabled
    seclabel u:r:recovery:s0

on property:hwservicemanager.ready=true
    start gatekeeper-1-0

on property:hwservicemanager.ready=true && property:ro.boot.tee_type=1
    stop keymaster-4-0-beanpod
    start keymaster-4-0-mitee

on property:hwservicemanager.ready=true && property:ro.boot.tee_type=2
    stop keymaster-4-0-mitee
    start keymaster-4-0-beanpod

on property:ro.crypto.state=unsupported
    stop teei_daemon
    stop keymaster-4-0-beanpod
    stop keymaster-4-0-mitee
    stop gatekeeper-1-0

on property:ro.crypto.state=unencrypted
    stop teei_daemon    
    stop keymaster-4-0-beanpod
    stop keymaster-4-0-mitee
    stop gatekeeper-1-0

on property:twrp.decrypt.done=true
    stop teei_daemon  
    stop keymaster-4-0-beanpod
    stop keymaster-4-0-mitee
    stop gatekeeper-1-0

on boot
    start health-hal-2-1
    start boot-hal-1-1
